<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{.CSTitle}}</title>
  </head>
  <body style="font-family: 'Ubuntu Mono';">
      
    <div style="margin-top: 25px;">
        <h2>Рассчитать меру семантической близости (Cosine Similarity)</h2>
    </div>
    

    <div>
      <p>Слово (wordA): {{.CSWordA}}<br />UUID: {{.CSWordAUUID}}<br />
        <span style="font-size: 0.8em; color: gray;">{{.CSWordAVectors}}</span></p>
      <p>Слово (wordB): {{.CSWordB}}<br />UUID: {{.CSWordBUUID}}<br />
        <span style="font-size: 0.8em; color: gray;">{{.CSWordBVectors}}</span></p>
      <p>Cosine Similarity {{.CSWordA}} и {{.CSWordB}}: {{.CSV}}</p>
  </div>

    <a href="http://127.0.0.1:8080/">На главную страницу</a>

</body>
</html>
