<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{.Title}}</title>
  </head>
  <body style="font-family: 'Ubuntu Mono';">
    
  <div style="margin-top: 25px; width: 400px;">
    <fieldset style="border: 1px solid  silver; border-radius: 8px; background-color: rgb(242, 239, 225);">
      <legend>Новый Dataset</legend>
      <form
      enctype="multipart/form-data"
      action="http://127.0.0.1:8080/upload"
      method="post">
        <label for="datasetLabel">Тематика:</label>
        <input type="text" name="datasetLabel" style="margin-top: 10px;"><br />
        <input type="file" name="originalFile" style="margin-top: 10px;" />
        <input type="submit" value="Загрузить" style="margin-top: 10px;" />
      </form>
    </fieldset>
  </div>

  <div style="margin-top: 25px; width: 400px;">
    <fieldset style="border: 1px solid  silver; border-radius: 8px; background-color: rgb(242, 239, 225);">
      <legend>Cosine Similarity</legend>
      <form
      enctype="multipart/form-data"
      action="http://127.0.0.1:8080/cosinesimilarity"
      method="post">
        <label for="wordA">Слово:</label>
        <input type="text" name="wordA" style="margin-top: 10px;"><br />
        <label for="wordA">Слово:</label>
        <input type="text" name="wordB" style="margin-top: 10px;"><br />
        <input type="submit" value="Cosine Similarity" style="margin-top: 10px;">
      </form>
    </fieldset>  
  </div>

  </body>
</html>
